services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - C:\MEDIA_AUTOMATION\Prowlarr\Config:/config
      - C:\MEDIA_AUTOMATION\Prowlarr\Backup:/data/Backup
      - C:\MEDIA_AUTOMATION\Downloads:/data/downloads
    ports:
      - 9697:9696
    restart: unless-stopped
    networks:
      - arrs
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - C:\MEDIA_AUTOMATION\Sonarr\Config:/config
      - C:\MEDIA_AUTOMATION\Sonarr\Backup:/data/Backup
      - C:\MEDIA_AUTOMATION\Sonarr\tvshows:/data/tvshows
      - C:\MEDIA_AUTOMATION\Downloads:/data/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      - arrs
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - C:\MEDIA_AUTOMATION\Radarr\Config:/config
      - C:\MEDIA_AUTOMATION\Radarr\Movies:/data/movies
      - C:\MEDIA_AUTOMATION\Downloads:/data/downloads
      - C:\MEDIA_AUTOMATION\Radarr\Backup:/data/Backup
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - arrs
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - C:\MEDIA_AUTOMATION\Lidarr\Config:/config
      - C:\MEDIA_AUTOMATION\Lidarr\Music:/data/musicfolder
      - C:\MEDIA_AUTOMATION\Downloads:/data/downloads
      - C:\MEDIA_AUTOMATION\Lidarr\Backup:/data/Backup
    ports:
      - 8686:8686
    restart: unless-stopped
    networks:
      - arrs
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - C:\MEDIA_AUTOMATION\Readarr\Config:/config
      - C:\MEDIA_AUTOMATION\Readarr\Books:/data/books # optional
      - C:\MEDIA_AUTOMATION\Downloads:/data/downloads # optional
    ports:
      - 8787:8787
    restart: unless-stopped
    networks:
      - arrs
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=America/Chicago
    ports:
      - 8191:8191
    restart: unless-stopped
    networks:
      - arrs
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
    volumes:
      - C:\MEDIA_AUTOMATION\Overseerr\Config:/config
    ports:
      - 5055:5055
    restart: unless-stopped
    networks:
      - arrs
networks:
  arrs:
    driver: bridge
    ipam:
      config:
        - subnet: 173.25.0.0/16
          gateway: 173.25.0.1
